.form__field{
  border-radius: 0;
  border: none;
  height: 27px;
  padding-bottom: 10px;
  padding-left: 0;
  vertical-align: text-top;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin-bottom: 30px;
  font-family: Inter, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: black;
  box-sizing: border-box;
}

@media all and (max-width:767px) {
  .form__field{
    font-size: 14px;
    text-align: left;
  }
}