.popup{
  /* display: none; */
  /* position: relative; */
  display: flex;
  width: 100%;
  height: 0;
  position: fixed;
  align-items:center;
  justify-content:center;
  visibility: hidden;
  top:0px;
  left:0px;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1000;
  opacity: 0;
  transition-property: opacity, height, visibility;
  transition-duration: 300ms, 0s, 0s;
  transition-delay: 0s, 300ms, 300ms;
}

.popup:nth-of-type(5){
  background-color: rgba(0, 0, 0, .9);
}